<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>GetCurrentUserUnitId</Title>
      <Shortcut>getcurrentunitid</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[var currentUserUnitId=CurrentUser.GetComId();//取token里的当前单位id]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>