/.vs
*/Logs.txt
*/.v2
*.suo
*.json
*/*.json
/GDBS.AuthServer/GDBS.AuthServer.Hosting/appsettings.json
/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi.Hosting/appsettings.json
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi.Hosting/appsettings.json
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/appsettings.json
/GDBS.ProjectService/GDBS.ProjectService.HttpApi.Hosting/appsettings.json
/GDBS.PublicGateway/GDBS.PublicGateway.Hosting/appsettings.json

/GDBS.BridgeService.HttpApi.Hosting/wwwroot/Word/CreateFiles
./GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/wwwroot/Word/CreateFiles

/GDBS.Microservices/DesignTimeBuild/.dtbcache.v2

/GDBS.AuthServer/GDBS.AuthServer.Hosting/Properties
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/Logs

/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi.Hosting/Logs
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi.Hosting/Logs
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/Logs

/GDBS.BridgeService/GDBS.BridgeService.Application/obj
/GDBS.BridgeService/GDBS.BridgeService.Application/bin
/GDBS.BridgeService/GDBS.BridgeService.Application.Contracts/obj
/GDBS.BridgeService/GDBS.BridgeService.Application.Contracts/bin
/GDBS.BridgeService/GDBS.BridgeService.Domain/obj
/GDBS.BridgeService/GDBS.BridgeService.Domain/bin
/GDBS.BridgeService/GDBS.BridgeService.Domain.Shared/bin
/GDBS.BridgeService/GDBS.BridgeService.Domain.Shared/obj
/GDBS.BridgeService/GDBS.BridgeService.EntityFrameworkCore/bin
/GDBS.BridgeService/GDBS.BridgeService.EntityFrameworkCore/obj
/GDBS.BridgeService/GDBS.BridgeService.HttpApi/bin
/GDBS.BridgeService/GDBS.BridgeService.HttpApi/obj
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/bin
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Application/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Application/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Application.Contracts/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Application.Contracts/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Domain/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Domain/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Domain.Shared/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.Domain.Shared/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.EntityFrameworkCore/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.EntityFrameworkCore/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi.Hosting/bin
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi.Hosting/obj
/GDBS.BridgePecTionService/GDBS.BridgePecTionService.HttpApi.Hosting/Logs
/GDBS.PublicGateway/GDBS.PublicGateway.Hosting/bin
/GDBS.PublicGateway/GDBS.PublicGateway.Hosting/obj
/GDBS.Shared/GDBS.Shared.Data/bin
/GDBS.Shared/GDBS.Shared.Data/obj
/GDBS.Shared/GDBS.Shared.Domain/bin
/GDBS.Shared/GDBS.Shared.EntityFrameworkCore/bin
/GDBS.Shared/GDBS.Shared.EntityFrameworkCore/obj
/GDBS.Shared/GDBS.Shared.ToolKits/bin
/GDBS.Shared/GDBS.Shared.ToolKits/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.Application/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.Application/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.Application.Contracts/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.Application.Contracts/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.Domain/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.Domain/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.Domain.Shared/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.Domain.Shared/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.EntityFrameworkCore/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.EntityFrameworkCore/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi/obj
/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi.Hosting/bin
/GDBS.BridgeInsService/GDBS.BridgeInsService.HttpApi.Hosting/obj
/GDBS.AuthServer/GDBS.AuthServer.Application/bin
/GDBS.AuthServer/GDBS.AuthServer.Application/obj
/GDBS.AuthServer/GDBS.AuthServer.Application.Contracts/bin
/GDBS.AuthServer/GDBS.AuthServer.Application.Contracts/obj
/GDBS.AuthServer/GDBS.AuthServer.Domain/bin
/GDBS.AuthServer/GDBS.AuthServer.Domain/obj
/GDBS.AuthServer/GDBS.AuthServer.Domain.Shared/bin
/GDBS.AuthServer/GDBS.AuthServer.Domain.Shared/obj
/GDBS.AuthServer/GDBS.AuthServer.Hosting/bin
/GDBS.AuthServer/GDBS.AuthServer.Hosting/obj
/GDBS.AuthServer/GDBS.AuthServer.HttpApi/bin
/GDBS.AuthServer/GDBS.AuthServer.HttpApi/obj
obj
bin
Logs
Logs
Logs
Logs
PublishProfiles
PublishProfiles
PublishProfiles
PublishProfiles
PublishProfiles
PublishProfiles
/GDBS.BridgeService/GDBS.BridgeService.HttpApi.Hosting/wwwroot/Word/CreateFiles
*.user
/GDBS.AuthServer/GDBS.AuthServer.Hosting/GDBS.AuthServer.Hosting.csproj.user
appsettings.json
/GDBS.LogService/GDBS.LogService.Application.Contracts/TestStart/ITestLogService.cs
/GDBS.LogService/GDBS.LogService.Application/Jobs/MyJobArgs.cs
/GDBS.LogService/GDBS.LogService.Application/Jobs/MyLogJob.cs
/GDBS.LogService/GDBS.LogService.Application/TestStartImp/TestLogService.cs
/GDBS.LogService/GDBS.LogService.HttpApi.Hosting/QuartZs/QuartzHelper.cs
/GDBS.Shared/GDBS.Shared.ToolKits/Helper/QuartzHelper.cs
